.spinner {
  height: 100vh;
  position: fixed;
  opacity: 0.9;
  background-color: white;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 3s 1s ease-out forwards;
  & i {
    padding: 0;
    animation: rotation 3s ease-in-out;
  }
}

@keyframes rotation {

  0%{
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(359deg);
    opacity: 0;
  }
}

@keyframes hide {

  from {
    opacity: 0.9;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}



