//*Keyframes animation load spinner *//
@keyframes rotation {

0%{
  transform: rotate(0deg);
  opacity: 1;
}

100% {
  transform: rotate(720deg);
  opacity: 0;
}
}

//*Keyframes disparition load spinner*//

@keyframes hide {

from {
  opacity: 0.9;
}

to {
  opacity: 0;
  visibility: hidden;
}
}

//*Keyframes animation coeur *//
@keyframes heart {

  0%{
    transform: scale(0);
  }

  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

//*Keyframes animation des plats *//

@keyframes slide {

0%{
    transform: translateY(50px);
    opacity: 0;

  }

100%{
    transform: translateY(0px);
    opacity: 1;
  }

}

