
@keyframes rotation {

  0%{
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}

@keyframes hide {

  from {
    opacity: 0.9;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes slide {

  0%{
    transform: translateY(50px);
    opacity: 0;

  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }

}

@keyframes heart {

  0%{
    transform: scale(0);
  }

  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes slide-in-out {
  to {

  }
  from {

  }

}
