$breakpoints:(
  desktop:992px,
  tablet:767px,
  large-desktop:1325px,
);

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content
  }
}

@mixin desktop{
  @media screen and (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}

@mixin large-desktop{
  @media screen and (min-width: map-get($breakpoints,large-desktop)) {
    @content;
  }
}

@mixin tablet-only{
  @media screen and (min-width: map-get($breakpoints,tablet)) and (max-width: map-get($breakpoints,desktop)) {
    @content;
  }
}


