@use "sass:math";

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-gradient: rgb(235,114,218);
$num-btn:10;
$anim-dur:2s;
$anim-delay:math.div($anim-dur, $num-btn);