footer{
  background-color:#353535;
  color:#FFFFFF;
  margin-top: -40px;
  padding-left: 30px;
  @include tablet{
    padding: 30px;
  }
  &.footer-resto{
    @include tablet{
      padding: 30px;
    }
    @include desktop{
      margin-top:-73px;
    }
  }
}

ul{
  margin: 0;
  padding: 0;
  @include tablet{
    display: flex;
    align-items: self-end;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }
}

li{
  list-style-type:none;
  padding-bottom: 11px;
}

.footer-title{
  font-family: 'Shrikhand', cursive;
  margin:0;
  padding: 10px 0;
}

li a{
  color: white;
}
