footer{
  background-color:#353535;
  color:#FFFFFF;
  margin-top: -40px;
}

ul{
  margin: 0;
  padding: 20px;
}

li{
  list-style-type:none;
  padding-bottom: 11px;
}

li h3{
  font-family: 'Shrikhand', cursive;
  margin:0;
  padding: 10px 0;
}

li a{
  color: white;
}
