footer{
  background-color:#353535;
  color:#FFFFFF;
  list-style-type:none;

}

ul{
  margin: 0;
  padding: 20px;
}

li{
  list-style-type:none;
  margin-bottom: 5px;
  padding-bottom: 15px;
}

li h2{
  font-family: 'Shrikhand', cursive;
  margin:0;
  padding: 15px 0;
}

li a{
  text-decoration: none;
  color: white;
}