.fa-heart{
  position: relative;
  z-index: 1;
  &:active{
    opacity: 1;
    font-weight: bold;
    color:$colour-gradient;
  }
  &::after{
    opacity: 0;
    color:$colour-gradient;
  }
}