.fa-coeur{
  font-size: 30px;
  position: relative;
  left: 34px;
  @include tablet {
    font-size: 35px;
    left:-16px;
  }
}

.fa-coeur-filled{
  font-size: 32px;
  position: relative;
  transform: scale(0);
  color: rgb(235,114,218);
  top: 1px;
  right:1px;
  @include tablet {
    font-size: 37px;
    right: 56px;
  }
}

.like:hover{
  & .fa-coeur-filled{
    animation: heart 800ms ease-in-out forwards;
  }
}

